@model PurchaseOrder
@{
    ViewData["Title"] = "Satın Alma Siparişi Sil";
}
<div class="container mt-4">
    @{
        var message = TempData["Message"] as string;
        if (!string.IsNullOrEmpty(message))
        {
            <div class="alert alert-danger">
                @message
            </div>
        }
    }
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Satın Alma Siparişi Silme Onayı</h3>
        </div>
        <div class="card-body">
            <h4>Bu Satın Alma Siparişini silmek istediğinizden emin misiniz?</h4>
            <dl class="row mt-4">
                <dt class="col-sm-3">Numara</dt>
                <dd class="col-sm-9">@(Model?.Number ?? "Belirtilmemiş")</dd>

                <dt class="col-sm-3">Sipariş Tarihi</dt>
                <dd class="col-sm-9">@(Model?.OrderDate!.Value.ToShortDateString() ?? "Belirtilmemiş")</dd>

                <dt class="col-sm-3">Acıklama</dt>
                <dd class="col-sm-9">@(Model?.Description ?? "Belirtilmemiş")</dd>

                <dt class="col-sm-3">Tedarikci</dt>
                <dd class="col-sm-9">@(Model?.Vendor!.Name ?? "Belirtilmemiş")</dd>

                <dt class="col-sm-3">Vergi Adı</dt>
                <dd class="col-sm-9">@(Model?.Tax!.Name ?? "Belirtilmemiş")</dd>

                <dt class="col-sm-3">Mevcut Olan Ürünler</dt>
                <dd class="col-sm-9">@(Model?.PurchaseOrderItemList.Count().ToString() ?? "Belirtilmemiş")</dd>

                <dt class="col-sm-3">Ürünlerin Toplam Adedi</dt>
                <dd class="col-sm-9">@(Model?.PurchaseOrderItemList?.Sum(x => x.Quantity).Value.ToString() ?? "Belirtilmemiş")</dd>

            </dl>

            <form asp-action="Delete" method="post" class="mt-4">
                <input type="hidden" asp-for="Id" />
                <div class="text-end">
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Geri Dön
                    </a>
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-trash"></i> Sil
                    </button>
                </div>
            </form>
        </div>
    </div>
</div> 